<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <style>
        .odd {
            background-color: #fafafa;
        }

        .even {
            background-color: silver
        }
    </style>
</head>

<body ng-app="myApp">

    <h1>
        <p>Модуль: {{ moduleName }}</p>
        <p>Сообщение: {{ message }}</p>
    </h1>

    <h2>internal variables in ng-repeat</h2>
    <div ng-controller="phoneController">
        <ul>
            <li ng-repeat="phone in phones">
                <p ng-class="$odd ? 'odd': 'even'">
                    <span>{{$index+1}}&nbsp;| &nbsp;</span>
                    <span>Название: {{phone.name}}&nbsp;| &nbsp;</span>
                    <span>Цена: {{phone.price}} $&nbsp;| &nbsp;</span>
                    <span>Производитель: {{phone.company.name}}</span>
                </p>
            </li>
        </ul>
    </div>

    <h2>handling internal arrays</h2>
    <div ng-controller="itemController">
        <div ng-repeat="phone in phones">
            <span>Name: {{phone.name}}</span>
            <span ng-repeat="model in phone.models">
                <span>{{model.name}}</span>, <span>{{model.price}}</span>
            </span>
        </div>
    </div>

    <h2>inheritence V</h2>
    <div ng-controller="parentController">
        <div ng-controller="сhildController">
            <p>Name: {{phone.name}}</p>
            <p>price: {{phone.price}} $</p>
            <p>Manufacter: {{phone.company.name}}, {{$parent.phone.company.country}}</p>
        </div>
    </div>

    <h2>binding</h2>
    <div ng-controller="phoneController">
        <h3>ng-bind-template</h3>
        <span ng-bind-template="{{phones[0].name}} : {{phones[0].price}} $"></span>
    </div>
    <div ng-controller="countrollerBingHtml">
        <h3>ng-bind-html</h3>
        <textarea ng-model="modelHtmlField"></textarea>
        <p ng-bind-html="modelHtmlField"></p>
    </div>


</body>
<script src="./js/lib/angular/angular.js"></script>
<script src="./js/lib/angular-sanitize/angular-sanitize.min.js"></script>
<script src="./js/script.js"></script>
</html>
