<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <style>
        .odd {
            background-color: #fafafa;
        }

        .even {
            background-color: silver
        }
    </style>
</head>

<body ng-app="myApp">

    <h1>
        <p>Модуль: {{ moduleName }}</p>
        <p>Сообщение: {{ message }}</p>
    </h1>

    <div ng-controller="phoneController">
        <ul>
            <li ng-repeat="phone in phones">
                <p ng-class="$odd ? 'odd': 'even'">
                    <span>{{$index+1}}&nbsp;| &nbsp;</span>
                    <span>Название: {{phone.name}}&nbsp;| &nbsp;</span>
                    <span>Цена: {{phone.price}} $&nbsp;| &nbsp;</span>
                    <span>Производитель: {{phone.company.name}}</span>
                </p>
            </li>
        </ul>
    </div>

    <div ng-controller="itemController">
        <div ng-repeat="phone in phones">
            <span>Name: {{phone.name}}</span>
            <span ng-repeat="model in phone.models">
                <span>{{model.name}}</span>, <span>{{model.price}}</span>
            </span>
        </div>
    </div>

    <div ng-controller="parentController">
        <div ng-controller="сhildController">
            <p>Name: {{phone.name}}</p>
            <p>price: {{$parent.phone.price}} $</p>
            <p>Manufacter: {{phone.company.name}}, {{phone.company.country}}</p>
        </div>
    </div>

</body>
<script src="js/lib/angular/angular.min.js"></script>
<script type="text/javascript">
    //creating module
    var myApp = angular.module('myApp', [])
        .run(function($rootScope) {
            $rootScope.moduleName = "myApp";
            $rootScope.message = "Hello AngularJS";
        });;

    //creating model
    myApp.controller('phoneController', function($scope) {
        $scope.phones = [{
            name: 'Nokia Lumia 630',
            year: 2014,
            price: 200,
            company: {
                name: 'Nokia',
                country: 'Финляндия'
            }
        }, {
            name: 'Samsung Galaxy S 4',
            year: 2014,
            price: 400,
            company: {
                name: 'Samsung',
                country: 'Республика Корея'
            }
        }, {
            name: 'Mi 5',
            year: 2015,
            price: 300,
            company: {
                name: 'Xiaomi',
                country: 'Китай'
            }
        }]
    });

    //creating model
    myApp.controller('itemController', function($scope) {
        $scope.phones = [{
            name: 'Nokia',
            models: [{
                name: "Nokia Lumia 530",
                price: 150
            }, {
                name: "Nokia X2",
                price: 200
            }]
        }, {
            name: 'Samsung',
            models: [{
                name: "Samsung Galaxy S5",
                price: 500
            }, {
                name: "Samsung Galaxy Alpha",
                price: 400
            }]
        }]
    });

    myApp.controller('parentController', function($scope) {
        $scope.phone = {
            name: 'MeizuV',
            year: 2014,
            price: 340,
            company: {
                name: 'MeizuV',
                country: 'ChinaV'
            }
        }
    });
    myApp.controller('сhildController', function($scope) {
        $scope.phone = {
            name: 'MeizuC',
            year: 2015,
            price: 350,
            company: {
                name: 'MeizuC',
                country: 'ChinaC'
            }
        }
    });
</script>

</html>
